/** Zone farce et attrape **/

.presentation_farce_attrape {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../Illustrations/illustration_farce_attrape.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 550px;
}

.presentation_farce_attrape h2 {
    color: aliceblue;
}

.presentation_farce_attrape div {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2%;
    margin-right: 30%;
    margin-top: 6%;
    margin-bottom: 6%;
    border-radius: 10px;
    padding: 0% 2%;
}


@media screen and (max-width: 900px) {

    .presentation_farce_attrape {
        height: 250px;
    }
}

@media (min-width: 768px) and (max-width: 1300px) {

    .presentation_farce_attrape {
        height: 500px;
    }
}

@media (min-width: 430px) and (max-width: 767px) {

    .presentation_farce_attrape {
        height: 500px;
    }
}